<div class="main-top">
  <div class="current-room">
    current room
  </div>
  <div class="destroy-room">
    <a href="#">finish this chat</a>
  </div>
</div>

<div class="main-middle">
  <div class="upper-content">
    <div class="whose-message">
      Tom
    </div>
    <div class="date-time">
      2021/03/03(wed)12:42:00
    </div>
  </div>
  <div class="lower-content">
    <div class="message">
      i'm starving..
    </div>
  </div>
</div>

<div class="main-bottom">
  <div class="form">
    <input class="type-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-title">Img</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-message" type="submit" value="SEND">
</div>
