  <div class="upper-content">
    <div class="whose-message">
      <%= messages.user.name %>
    </div>
    <div class="date-time">
      <%= messages.created_at %>
    </div>
  </div>
  <div class="lower-content">
    <div class="message">
      <%= messages.content %>
    </div>
  </div>
