<div class="side-top">
  <div class="user-name">
    <%# <a href="#">Tom</a> %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to 'new chat', new_room_path %>
  </div>
</div>

<%# <div class="side-bottom">
  <div class="side-bottom-room">
    <a href="#">testroom1</a>
  </div>
  <div class="side-bottom-room">
    <a href="#">testroom2</a>
  </div>
</div> %>

<div class="side-bottom">
  <% current_user.rooms.each do |room| %>
    <div class="side-bottom-room">
      <%= link_to room.name, room_messages_path(room) %>
    </div>
  <% end %>
</div>